body {
    margin: 0;
    padding: 0;
}

.background img {
    max-width: 100%;
}

.titleOBP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allVignettes {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.imgCup {
    height:250px; 
    width: 250px;
}

.backgroundOBP {
    height: 800px;
    background: url(/Images/BackGround/Background2.webp);
    background-position: cover;
}

.titleOBP h1 {
    font-size: 80px;
    color: #EEA19F;
    font-family: 'Varela Round', sans-serif;
}


.vignette {
    width: 45vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border: 4px solid #EEA19F;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.65);
    background-color: #fff;
    margin: 0 7px;
    padding: 10px 30px;
    color: #EEA19F;
    padding-bottom: 160px;   
}

.vignette h2 {
    width: 100%;
    display: flex;
    align-content: flex-start;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

.vignette p {
    font-size: 20px;
    margin: 5px;
    padding: 0;
}

.prix {
    font-size: 30px;
    font-weight: 1000;
}

.bottomV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.shopIt {
    border-radius: 20px;
    background-color: #EEA19F;
    text-align: center;
    padding: 0px 30px;
    
}

.shopIt a {
    text-decoration: none;
    color: #fff;
}
    
.etoileV {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EEA19F;
}

@media screen and (max-width: 900px) {
    body {
        max-width: 900px;
    }
    .allVignettes {
        flex-direction: column;
    }
    .imgCup {
        height: 100px; 
        width: 100px;
    }
    .titleOBP {
        font-size: 60px;
    }
}