body {
    min-height: 200vh;
}

#navbarSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar {
    min-width: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    margin-right: 1.5rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black; 
    position: fixed;
}

#search {
    display: flex;
    align-items: center;
    margin-top: 23rem;
    position: fixed;
}

#inputSearch {
    max-height: 2rem;
    color: white;
    background: #EEA19F;
}

.toggle-button span {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #EEA19F;
    display: block;
    margin: 4px;
    transition: 0.5s ease;
}

nav ul {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
    width: 200%;
}

nav ul li {
    border-bottom: 0.1rem solid #EEA19F;
    list-style: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #EEA19F;
}

nav ul li:hover {
    background: #EEA19F;
}

nav ul li:hover a {
    color: white;
}


.side-bar.active span {
    position: sticky;
    margin-right: 5vh;
}

.side-bar.active span:nth-child(1) {
    transform: translate(0px, 10px) rotate(45deg);   
}

.side-bar.active span:nth-child(2) {
    opacity: 0;
}

.side-bar.active span:nth-child(3) {
    transform: translate(0px, -10px) rotate(-45deg);
}
