body {
    height: 100%;
    width: 100%;
   
}

#navbarSearch {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar {
    max-height: 100%;
    max-width: 100%;
    min-width: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    margin-right: 1.5rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
    position: fixed;
}

#search {
    display: flex;
    align-items: center;
    margin-top: 23rem;
    position: fixed;
}

#inputSearch {
    max-height: 2rem;
    color: white;
    background: #EEA19F;
}

#sideBarMenu {
    display: flex;
}

#logo {
    height: 60px;
    width: 80px;
    margin-right: 1rem;
}

#toggle-button {
    margin-left: 3rem;
}

.toggle-button span {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #EEA19F;
    display: block;
    margin: 4px;
    transition: 0.5s ease;
}

.side-bar.active span {
    position: sticky;
    margin-right: 5vh;
}

.side-bar.active span:nth-child(1) {
    transform: translate(0px, 10px) rotate(45deg);   
}

.side-bar.active span:nth-child(2) {
    opacity: 0;
}

.side-bar.active span:nth-child(3) {
    transform: translate(0px, -10px) rotate(-45deg);
}

#menu {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
    width: 200%;
}

#menu li {
    border-bottom: 0.1rem solid #EEA19F;
    list-style: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu li a {
    text-decoration: none;
    color: #EEA19F;
}

#menu li:hover {
    background: #EEA19F;
}

#menu li:hover a {
    color: white;
}


@media screen and (min-width: 960px) {

    body {
        display: flex;
        justify-content: center;       
    }

    #navbarSearch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0.1rem solid white;
        border-radius: 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
        position: fixed;
        width: 1280px;
        height: 100px;

    }

    #navbar {
        width: 1280px;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: none;
        margin: 0rem;
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
        margin-right: 0rem;
        border: 0rem solid white;
        border-radius: 0px;
        box-shadow: 0px 0px 0px white; 
        position: absolute;
    }

    #search {
        width: 1280px;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0rem;
        position: absolute;
    }

    #sideBarMenu {
        display: flex;
        flex-direction: row-reverse;
    }

    .toggle-button span {
        display: none;
        width: 0px;
        height: 0px;
    }


    #logo {
        height: 120px;
        width: 120px;
        margin-right: 0rem;
    }
    
    #menu {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0px;
        padding: 0rem;
        width: 100%;
    }

    #menu li {
        border-bottom: 0rem solid #EEA19F;
        padding-left: 10px;
    }

    #menu li:hover {
        background: none;
    }

    #menu li a {
        text-decoration: none;
        color: #EEA19F;
        padding: 2rem;
    }

    #menu li:hover a {
        color: #EEA19F;
        border-bottom: 0.1rem solid #EEA19F;
        padding-bottom: 0.5rem;
    }

    #cart {
        display: none;
    }
}