body {
    margin: 0;
    padding: 0;
}

.background img {
    max-width: 100%;
}

.titleOBP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allVignettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imgCup {
    height:15.625rem; 
    width: 15.625rem;
}

.backgroundOBP {
    height: 50rem;
    background: url(/Images/BackGround/Background2.webp);
    background-position: cover;
}

.titleOBP h1 {
    font-size: 5rem;
    color: #EEA19F;
    font-family: 'Varela Round', sans-serif;
}


.vignette {
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border: 4px solid #EEA19F;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.65);
    background-color: #fff;
    margin: 0.625rem 0.625rem;
    padding: 0.625rem 1.875rem;
    color: #EEA19F;
    padding-bottom: 10px;   
}

.vignette .imgCup {
    padding-top: 0%;
}

.vignette h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.vignette p {
    display: flex;
    font-size: 1rem;
    margin: 0.3125rem;
    padding: 0;
}

.prix {
    font-size: 30px;
    font-weight: 1000;
}

.bottomV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.shopIt {
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    background-color: #EEA19F;
    text-align: center;
    padding: 0px 3.125rem; 
}

.shopIt a {
    text-decoration: none;
    color: #fff;
}
    
.etoileV {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EEA19F;
}

#side-bar {
    position: absolute;
    width: 19.375rem;
    height: 100%;
    background: #fff;
    left: -340px;
    transition: 0.5s ease-out;
    z-index: 4;
    margin: 3.125rem 0 1.875rem 0.3125rem;
    border: 0.5px solid #eea29f75;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.246);
    font-family: 'Varela Round', sans-serif;
    color: #EEA19F;
    padding-bottom: 12.5rem;
  }
  
  .toggle-button {
    position: absolute;
    top: 1.875rem;
    left: 22.1875rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }


  

  /*.toggle-button {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }*/
  
  .toggle-button span {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background:#EEA19F;
    display: block;
    margin: 0.25rem;
    transition: 0.5s ease;
  }
  

  
  #side-bar.active {
    max-height: 100%;
    left: 0;
  }
  #side-bar.active .toggle-button {
    top: 2.8rem;
    left: 20rem;
  }
  
  #side-bar.active span {
    position: absolute;
  }
  
  #side-bar.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  #side-bar.active span:nth-child(2) {
    opacity: 0;
  }
  
  #side-bar.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  #side-bar.active ~ .content {
      transition: 0.5s;
    opacity: 0.3;
  }

  .rangePrix {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1.25rem;
      margin-left: 1.25rem;
  }


  .categories li {
      list-style: none;

  }

  #side-bar h2 {
      text-align: center;
  }
  .commentaires {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
   
}

.commentaires p {
    padding: 0;
    margin: 0;
}

.comSide {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1.25rem;
    text-align: start;
    
}

.etoileCom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.625rem;
}

.pPCom {
    height: 3.125rem;
    width: 3.125rem;
    margin-left: 0.625rem;
    margin-right: 1.25rem;
}



@media screen and (max-width: 900px) {
    .allVignettes {
        flex-direction: column;
        align-items: center;
    }
    .imgCup {
        height: 9.375rem; 
        width: 9.375rem;
    }
    
    .titleOBP h1 {
        text-align: center;
        font-size: 60px;
        color: #EEA19F;
        font-family: 'Varela Round', sans-serif;
    }
    .vignette {
        width: 60%;
        height: 45vh;
        border: 3px solid #EEA19F;
        border-radius: 40px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.65);
        margin: 0.625rem 0.4375rem;
        padding: 0px 3.125rem;
        color: #EEA19F;
        padding-bottom: 3.125rem;  
    }
    .vignette h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        font-size: 25px;
        font-family: 'Varela Round', sans-serif;
    }
    
    .vignette p {
        font-size: 15px;
        margin: 0.3125rem;
        padding: 0;
    }
    
    .prix {
        font-size: 25px;
        font-weight: 1000;
    }
    
    
    .shopIt {
        border: none;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
        background-color: #EEA19F;
        text-align: center;
        padding: 0px 1.25rem;
        font-size: 15px; 
    }

    .shopItSide {
        border: none;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
        border-radius: 20px;
        background-color: #EEA19F;
        text-align: center;
        padding: 0px 0.9375rem;
        font-size: 15px;
     
    }

    .shopItSide a {
        text-decoration: none;
        color: #fff;
    }

    .vignettePromo {
        max-width: 100%;
        width: 50vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        border: 4px solid #EEA19F;
        border-radius: 40px;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.233);
        background-color: #fff;
        margin: 0.625rem 1.625rem;
        padding: 0.3125rem 1.875rem;
        color: #EEA19F;
          
    }
    
    .vignettePromo h2 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
    }
    
    .vignettePromo p {
        display: flex;
        font-size: 15px;
        margin: 0.125rem;
        padding: 0;
    }
    
    .vigettePromo .prix {
        font-size: 20px;
        font-weight: 1000;
    }
    
    .vigettePromo .bottomV {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 0.625rem;
    }
    
    .vignettePromo .shopIt {
        border-radius: 20px;
        background-color: #EEA19F;
        text-align: center;
        padding: 0px 0.1875rem;
        
    }
    
    .vigettePromo.shopIt a {
        text-decoration: none;
        color: #fff;
    }
        
    .vigettePromo .etoileV {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #EEA19F;
    }

    #side-bar h3 {
        margin: 1.25rem;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .commentaires {
        display: flex;
        justify-content: space-between;
        margin: 0 2%;
       
    }

    .commentaires p {
        padding: 0;
        margin: 0;
    }

    .comSide {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        padding-left: 1.25rem;
        text-align: start;
        
    }

    .etoileCom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0.625rem;
    }

    .pPCom {
        height: 3.125rem;
        width: 3.125rem;
        margin-left: 0.625rem;
        margin-right: 1.25rem;
    }
 
}



@media screen and (min-width: 900px) {
    .toggle-button {
        left: 26.875rem;
}
.vignettePromo {
    max-width: 100%;
    width: 13vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    border: 4px solid #EEA19F;
    border-radius: 40px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.233);
    background-color: #fff;
    margin: 0.625rem 1.0625rem;
    padding: 0.3125rem 1.875rem;
    color: #EEA19F;
}
#side-bar h3 {
    margin: 1.25rem;
}
.vignettePromo h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

.vignettePromo p {
    display: flex;
    font-size: 15px;
    margin: 0.125rem;
    padding: 0;
}

.vigettePromo .prix {
    font-size: 20px;
    font-weight: 1000;
}

.vigettePromo .bottomV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.625rem;
}

.vignettePromo .shopIt {
    border-radius: 20px;
    background-color: #EEA19F;
    text-align: center;
    padding: 0px 0.1875rem;
    
}

.vigettePromo.shopIt a {
    text-decoration: none;
    color: #fff;
}
    
.vigettePromo .etoileV {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EEA19F;
}
.shopItSide {
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    background-color: #EEA19F;
    text-align: center;
    padding: 0 1rem; 
}
.shopItSide a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.prix {
    font-size: 25px;
    font-weight: 1000;
}
}