body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 800px;
    background-image: url(/BackGroundBoutique2.webp);
    background-position: cover;
}

.commentaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 2%;
    background-color: #FFF;
    color: #EEA19F;
    border-radius: 40px;
    padding: 2% 2%;
    font-weight: bolder;
    height: 60px;
}

.etoileC {
    font-size: 15px;
}

.com h3 {
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #fff;
    margin: 10% 15%;
}

.commentaires p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    
}

.comSide {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-left: 1.25rem;
    text-align: start;
    
}

.etoileCom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.625rem;
    
}

.pPCom {
    height: 4rem;
    width: 4rem;
    margin-left: 0.625rem;
    margin-right: 1.25rem;
}

.formCom {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    margin: 2%;
}

.formCom label {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 2%;
    color: #EEA19F;
}

.topForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 3% 3% 3% 2%;
    align-items: center;
    
}

#comment {
    width: 92%;
    margin-left: 2%;
    margin-top: 3%;
    padding: 4% 0 20% 4%;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    color: #EEA19F;
}


.form input {
    width: 50%;
    border: none;
    border-radius: 40px;
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    color: #a56f6d;
    height: 50px;
}

#name {
    padding-left: 5%;
}

.submit {
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
    padding: 3% 10%;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
    outline: none;
    color: #EEA19F;
}

.etoileV {
    font-size: 25px;
    -webkit-text-stroke: 1.2px #eea29f8e;
    text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.281);
}

@media screen and (min-width: 900px){
    .formCom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-top: 4%;
    }
    .form {
        width: 50%;
        margin-top: 5%;
    }
    
    .barre {
        border: 1px solid rgba(226, 141, 141, 0.514);
        height: 50vh;
        margin-top: 7%;
    }
    .etoileV {
        font-size: 40px;
        -webkit-text-stroke: 1px #EEA19F;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.281);
        cursor: pointer;
    }

    .form input {
        font-size: 20px;
        height: 70px;
    }


     .form textarea {
         font-size: 20px;
     }

     .submit {
         font-size: 20px;
         border-radius: 40px;
         padding: 2% 8%;
     }

     .commentaires {
         border-radius: 60px;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
     }

     #name {
         margin-bottom: 1%;
         width: 55%;
     }
     #comment {
         border-radius: 50px;
     }

     .topForm {
         margin-bottom: 1%;
     }
     .form label {
         color: #fff;
     }
     #lName {
         color:  #EEA19F;
     }
     .lComment {
         color: #fff;
     }
    .com h3 {
        color: #EEA19F;
    }
}

